# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/

# Environment variables
**/.env
.env

LogITFrontend/node_modules
LogITFrontend/dist
LogITFrontend/dist-ssr
LogITFrontend/.env
*.local


LogITBackend/node_modules
LogITBackend/dist
LogITBackend/dist-ssr
LogITBackend/.env
LogITBackend/.env.local
LogITBackend/controllers/CreateDean.js


# Build outputs
dist/
build/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
